
.body {
    color: var(--text);
    scrollbar-color: #8f38ff #d6ecf3;
    scrollbar-width: thin;
    font-family: 'basiic';
}
.index {
    background: var(--bg);
    background-position: center;
    background-position: -50px;
    /* Center and scale the image nicely */
    background-repeat: var(--bgrepeat);
    background-attachment: fixed;
    background-size: var(--bgsize);
    color: var(--text);
    scrollbar-color: #8f38ff #d6ecf3;
    scrollbar-width: thin;
    padding: 0;
    margin: 0;
    height: 100%;
}

.sobremiMain {
    width:90px;
    display:inline-block;
    background:none;
    font-size:1rem;
}

.li {
    width:90px;
    display:inline-block;
    }

.body{
      background:none;
      font-size:1rem;
    }



li {
        text-align: left;
        padding: 5px;
    }

li b {
        width: 90px;
        display: inline-block;
    }

h1,h2{
      font-size:1.2rem;
      
    }

    .flex img{
      filter:none;
    }
    a span:hover, a:hover{
      background:var(--selection);
      color:var(--text);
    }

.sobremiU1Style {
    border: none;
}

.sobremiTitleAbout {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 30px;
}

.sobremiTitleAbout h1{
    width: 113px;
}

.sobremiAbout {
    color: var(text);
    line-height: 13px;
}

.sobremiImageStyle {
    float: left;
    width: 200px;
    margin: 5px;
}