
.body {
    color: var(--text);
    scrollbar-color: #8f38ff #d6ecf3;
    scrollbar-width: thin;
    font-family: 'basiic';
}

.sobremiMain {
    width:90px;
    display:inline-block;
    background:none;
    font-size:1rem;
}

.li {
    width:90px;
    display:inline-block;
    }

.body{
      background:none;
      font-size:1rem;
    }



li {
        text-align: left;
        padding: 5px;
    }

li b {
        width: 90px;
        display: inline-block;
    }

h1,h2{
      font-size:1.2rem;
      
    }

    .flex img{
      filter:none;
    }
    a span:hover, a:hover{
      background:var(--selection);
      color:var(--text);
    }

.sobremiU1Style {
    border: none;
}

.sobremiTitleAbout {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 30px;
}

.sobremiTitleAbout h1{
    width: 113px;
}

.sobremiAbout {
    color: var(text);
    line-height: 13px;
}

.sobremiImageStyle {
    float: left;
    width: 200px;
    margin: 5px;
}

.sobremiTitle {
        align-items: center;
        display: flex;
        justify-content: center;
        font-size: 20px;
        margin-top: 30px;
        animation: holi 2s ease 0s 1 normal forwards;
}