:root {
    --bg: url("../assets/images/fondo.png");
    --layout: url("../assets/images/layout4.0.png");
    --rainbow: url("https://cinni.net/images/rainbow_blurry2.png");
    --webring: url("https://cinni.net/images/web/bg/webring_bg2.png");
    --l1: url("https://cinni.net/images/site/layoutcorner-11.png");
    --l2: url("https://cinni.net/images/layout4.0_corner1.png");
    --l3: url("https://cinni.net/test/potd.png");
    --l4: url("https://cinni.net/test/sitestats.png");
    --l5: url("https://cinni.net/test/chains-div.png");
    --dream: url("https://cinni.net/images/dreamrealm_banner.png");
    --music: url("https://cinni.net/images/sonicblue_banner.png");
    --games: url("https://cinni.net/images/mygames_banner.png");
    --text: #8e3a3b;
    --link: #000;
    --selection: #ffcdef;
    --accent: #CBB1B1;
    --marquee: #8e3a3b;
    --line: #d6ecf3;
    --bgrepeat: no-repeat;
    --bgsize: 110% 100%;
    --pagedoll: none;
    --marquee-color: #6e45ff;
    --filter: brightness(1);
    --link-color: black;
    --text-color: #6e45ff;
    --title-bg: #bdecff;
    --span-bg: linear-gradient(90deg, rgba(214, 236, 243, 0) 0%, rgba(255, 213, 208, 1) 15%, rgba(252, 255, 196, 1) 30%, rgba(199, 255, 196, 1) 50%, rgba(196, 255, 251, 1) 70%, rgba(248, 215, 255, 1) 85%, rgba(214, 236, 243, 0) 100%);
    --rainbowtop: -2020px;
    --rainbowleft: 1037px;
    --rainbowsize: 120% 100%;
    --rainbowpos: -90px;
    --bgcolor: #d6ecf3;
    --welcomebanner: url('https://cinni.net/images/welcome-dreamland.png');
    --welcomeimg: url('https://cinni.net/images/doll/e089.gif');
    --welcomeimgmargin: 1px 15px;
    --h1gradient: linear-gradient(90deg, rgb(255, 213, 194) 0%, rgb(251, 255, 196) 25%, rgba(199, 255, 196, 1) 50%, rgb(199, 251, 255) 75%, rgb(227, 179, 255)100%);
}

.body {
    color: var(--text);
    scrollbar-color: #8f38ff #d6ecf3;
    scrollbar-width: thin;
    font-family: 'basiic';
}
.index {
    background: var(--bg);
    background-position: center;
    background-position: -50px;
    /* Center and scale the image nicely */
    background-repeat: var(--bgrepeat);
    background-attachment: fixed;
    background-size: var(--bgsize);
    color: var(--text);
    scrollbar-color: #8f38ff #d6ecf3;
    scrollbar-width: thin;
    padding: 0;
    margin: 0;
    height: 100%;
}
.contentContainer{
    width: 565px;
    height: 530px;
    position: relative;
    top: -310px;
    left: 322px;
    scrollbar-color: #8f38ff #d6ecf3;
    scrollbar-width: thin;
    z-index: 0;
    overflow: auto;
    }

.sobremiMain {
    width:90px;
    display:inline-block;
    background:none;
    font-size:1rem;
}

.li {
    width:90px;
    display:inline-block;
    }

.body{
      background:none;
      font-size:1rem;
    }



li {
        text-align: left;
        padding: 5px;
    }

li b {
        width: 90px;
        display: inline-block;
    }

h1,h2{
      font-size:1.2rem;
      
    }

    .flex img{
      filter:none;
    }
    a span:hover, a:hover{
      background:var(--selection);
      color:var(--text);
    }

.sobremiU1Style {
    border: none;
}

.sobremiAbout {
    color: var(text);
    ;
}

.sobremiImageStyle {
    float: left;
    width: 200px;
    margin: 5px;
}